#game_field{
    float: left;
    width: 160px;
}

.row{
    height: 0;
    clear: both;
}
.cell{
    display:inline-block;
    border: 1px solid #000000;
    background: #05b393;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    vertical-align:middle;
    font-size: 38px;
    cursor: pointer;
}
.cell.x{
    background: #06DBB4;
}
.cell.o{
    background: #08967C;
}

.cell.hover{
    border: 1px solid #344C00;
    background: #04987e;
}
.pac-container{
    z-index: 99999;
}

.hidden{
    display: none;
}

.informer{
    float: left;
    width: 400px;
    min-height: 70px;
    line-height: 70px;
    background: black;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
}