<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>XO</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ static_url('js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css"/>

</head>
<body>

    <div>
        <input type="button" id="start" value="Restart" class="hidden">
    </div>
    <div id="game_field">
        <div class="row row_0" data="0">
            <div class="cell cell_0" data="0"></div>
            <div class="cell cell_1" data="1"></div>
            <div class="cell cell_2" data="2"></div>
        </div>
        <div class="row row_1" data="1">
            <div class="cell cell_0" data="0"></div>
            <div class="cell cell_1" data="1"></div>
            <div class="cell cell_2" data="2"></div>
        </div>
        <div class="row row_2" data="2">
            <div class="cell cell_0" data="0"></div>
            <div class="cell cell_1" data="1"></div>
            <div class="cell cell_2" data="2"></div>
        </div>
    </div>
    <div class="informer">Informer</div>
</body>
</html>